In [2]:
import pandas as pd
import

In [ ]:
1.

In [7]:
df = pd.read_csv("data/twitter_data.csv")
df.shape

(26152, 36)

In [8]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1543461093393108992,1543461093393108992,2022-07-03 13:06:15 Malay Peninsula Standard Time,2022-07-03,13:06:15,800,957467485988507648,asap_vhon,üçÑüçÑ,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1543460751238635522,1543404186494279681,2022-07-03 13:04:53 Malay Peninsula Standard Time,2022-07-03,13:04:53,800,1457144060406386691,giga_strawbewwy,GIGA STRAWBY!,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Digital_VRC', 'name': 'Digit...",NaN,NaN,NaN,NaN
2,1543460607797624834,1543399598076592129,2022-07-03 13:04:19 Malay Peninsula Standard Time,2022-07-03,13:04:19,800,1027770798373838848,wannamorebeach,wannamorebeach,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Torrey42997369', 'name': 'To...",NaN,NaN,NaN,NaN
3,1543460432861487105,1543460432861487105,2022-07-03 13:03:37 Malay Peninsula Standard Time,2022-07-03,13:03:37,800,1523439521626394624,grayb0ii,grayboii üü¢,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1543460424233934848,1543459651248799744,2022-07-03 13:03:35 Malay Peninsula Standard Time,2022-07-03,13:03:35,800,1521752865571803136,mayogang123,Mayo on Pineapple Pizza,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'kebdyd', 'name': '{CLOSED}',...",NaN,NaN,NaN,NaN